* { box-sizing: border-box; }
body {
  margin: 0;
  font-family: inherit;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: inherit;
}
button { cursor: pointer; }
